<ion-view view-title="Profile">
    <ion-content>


        <!--<div class="item item-text-wrap text-center">-->
            <!--<div class="row">-->
                <!--<div class="col">-->
                    <!--<h2 class="text-left">123</h2>-->
                <!--</div>-->
                <!--<div class="col">-->
                    <!--<h2 class="item-note">123</h2>-->
                <!--</div>-->
            <!--</div>-->
            <!--<button class="item button button-block button-positive"-->
                    <!--ng-click="homeMenuItemController.addToOrder(i)">-->
                <!--Add to Order-->
            <!--</button>-->
        <!--</div>-->


        <div class="list list-inset padding">
            <!--pos no-->
            <label class="item item-input">
                    <span class="input-label">
                        POS Number
                    </span>
                    <span class="input-label">
                        {{browseController.loginData.posNo}}
                    </span>
            </label>
            <!--org id-->
            <label class="item item-input">
                    <span class="input-label">
                        Org ID
                    </span>
                    <span class="input-label">
                        {{browseController.loginData.orgId}}
                    </span>
            </label>
            <!--loc id-->
            <label class="item item-input">
                    <span class="input-label">
                        Loc ID
                    </span>
                    <span class="input-label">
                        {{browseController.loginData.locId}}
                    </span>
            </label>
            <!--store id-->
            <label class="item item-input">
                    <span class="input-label">
                        Store ID
                    </span>
                    <span class="input-label">
                        {{browseController.loginData.storeId}}
                    </span>
            </label>
            <!--shop name-->
            <label class="item item-input">
                    <span class="input-label">
                        Shop Name
                    </span>
                    <span class="input-label">
                        {{browseController.loginData.shopName}}
                    </span>
            </label>
            <!--address1-->
            <label class="item item-input">
                    <span class="input-label">
                        Address
                    </span>
                    <span class="input-label">
                        {{browseController.loginData.address1}}
                    </span>
            </label>
        </div>


        <div class="list list-inset padding">
            <!--api entry-->
            <label class="item item-input">
                    <span class="input-label">
                        API Entry
                    </span>
                    <span class="input-label">
                        {{browseController.loginData.apiEntry}}
                    </span>
            </label>
        </div>
    </ion-content>
</ion-view>
