<ion-view view-title="Menu">
    <ion-content>

        <!--<div class="row">-->
            <!--<div class="col">-->
                <!--<div class="card">-->
                    <!--<a class="item item-image">-->
                        <!--<img ng-src="">-->
                    <!--</a>-->
                    <!--<div class="item item-text-wrap text-center">-->
                        <!--name-->
                    <!--</div>-->
                    <!--<div class="item button button-block button-positive">-->
                        <!--Add to order-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="row"
             ng-repeat="homeMenuItem in homeMenuController.homeMenuItems track by $index"
             ng-if="$index % 2 === 0">
            <div class="col"
                 ng-repeat="i in [$index, $index + 1]">
                <div class="card"
                     ng-if="i < homeMenuController.homeMenuItems.length">
                    <a class="item item-image"
                       ng-href="#/app/homeMenu/{{homeMenuController.homeMenuItems[i].tmpId}}?name={{homeMenuController.homeMenuItems[i].name}}">
                        <img ng-src="{{homeMenuController.imageApi}}/{{homeMenuController.homeMenuItems[i].tmpId}}.jpg">
                    </a>
                    <a class="item item-text-wrap text-center"
                       ng-href="#/app/homeMenu/{{homeMenuController.homeMenuItems[i].tmpId}}?name={{homeMenuController.homeMenuItems[i].name}}">
                        <h2>{{homeMenuController.homeMenuItems[i].name}}</h2>
                    </a>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
