<ion-view view-title="{{homeMenuItemController.title}}">

    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-cart-outline" menu-toggle="right">
        </button>
    </ion-nav-buttons>

    <ion-content>

        <div class="row"
             ng-repeat="drilledMenuItem in homeMenuItemController.drilledMenuItems track by $index"
             ng-if="$index % 2 === 0">
            <div class="col"
                 ng-repeat="i in [$index, $index + 1]">
                <div class="card"
                     ng-if="i < homeMenuItemController.drilledMenuItems.length">
                    <div class="item item-image">
                        <img ng-src="{{homeMenuItemController.imageApi}}/{{homeMenuItemController.drilledMenuItems[i].pluId}}.jpg">
                    </div>
                    <div class="item text-center">

                        <!--<div class="row">-->
                            <!--<div class="col">-->
                                <!--<h2 class="text-left">-->
                                    <!--{{homeMenuItemController.drilledMenuItems[i].name}}-->
                                <!--</h2>-->
                            <!--</div>-->
                            <!--<div class="col">-->
                                <!--<h2 class="item-note">-->
                                    <!--{{homeMenuItemController.drilledMenuItems[i].netPrice}}-->
                                <!--</h2>-->
                            <!--</div>-->
                        <!--</div>-->

                        <h2>{{homeMenuItemController.drilledMenuItems[i].name}}</h2>
                        <p>{{homeMenuItemController.drilledMenuItems[i].netPrice}}</p>

                        <button class="item button button-block button-positive"
                                ng-click="homeMenuItemController.addToOrder(i)">
                            Add
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
