<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">
            Setting
        </h1>

        <div class="buttons">
            <button class="button button-clear"
                    ng-click="appCtrl.closeLogin()">
                Close
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="appCtrl.doLogin()">
            <div class="list list-inset padding">
                <label class="item item-input">
                    <span class="input-label">
                        POS Number
                    </span>
                    <input type="text"
                           ng-model="appCtrl.loginData.posNo">
                </label>

                <label class="item item-input">
                    <span class="input-label">
                        API Entry
                    </span>
                    <input type="text"
                           ng-model="appCtrl.loginData.apiEntry">
                </label>

                <button class="button button-block button-positive"
                        type="submit">
                    Connect
                </button>
            </div>

            <div class="list list-inset padding">
                <!--org id-->
                <label class="item item-input">
                    <span class="input-label">
                        Org ID
                    </span>
                    <span class="input-label">
                        {{appCtrl.loginData.orgId}}
                    </span>
                </label>
                <!--loc id-->
                <label class="item item-input">
                    <span class="input-label">
                        Loc ID
                    </span>
                    <span class="input-label">
                        {{appCtrl.loginData.locId}}
                    </span>
                </label>
                <!--store id-->
                <label class="item item-input">
                    <span class="input-label">
                        Store ID
                    </span>
                    <span class="input-label">
                        {{appCtrl.loginData.storeId}}
                    </span>
                </label>
                <!--shop name-->
                <label class="item item-input">
                    <span class="input-label">
                        Shop Name
                    </span>
                    <span class="input-label">
                        {{appCtrl.loginData.shopName}}
                    </span>
                </label>
                <!--address1-->
                <label class="item item-input">
                    <span class="input-label">
                        Address
                    </span>
                    <span class="input-label">
                        {{appCtrl.loginData.address1}}
                    </span>
                </label>
            </div>
        </form>
    </ion-content>q
</ion-modal-view>
