<ion-side-menus enable-menu-with-back-views="false">

    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon"
                        menu-toggle="left">
                </button>
            </ion-nav-buttons>

            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-ios-cart-outline"
                        menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">{{appCtrl.loginData.posNo}}</h1>
        </ion-header-bar>
        <ion-content>
            <!--<ion-list>-->
                <ion-item menu-close
                          class="item-icon-left"
                          href="#/app/browse"
                          ng-click="appCtrl.login()">
                    <i class="icon ion-ios-settings"></i>
                    Setting
                </ion-item>
                <ion-item menu-close
                          class="item-icon-left"
                          href="#/app/browse">
                    <i class="icon ion-ios-home-outline"></i>
                    Profile
                </ion-item>
                <ion-item menu-close
                          class="item-icon-left"
                          href="#/app/homeMenu">
                    <i class="icon ion-ios-book-outline"></i>
                    Menu
                </ion-item>
                <ion-item menu-close
                          class="item-icon-left"
                          href="#/app/playlists">
                    <i class="icon ion-ios-musical-note"></i>
                    Playlists
                </ion-item>
            <!--</ion-list>-->
        </ion-content>
    </ion-side-menu>

    <ion-side-menu side="right">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Your Order</h1>
        </ion-header-bar>
        <ion-content>
            <div ng-include="'templates/order.html'"></div>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>
