
<div ng-controller="OrderController as orderController">
    <div class="list card"
         ng-repeat="orderItem in orderController.orderItems">
        <div class="item item-avatar">
            <!--{{orderController.imageApi}}/{{orderItem.pluId}}.jpg-->
            <img ng-src="{{orderController.imageApi}}/{{orderItem.pluId}}.jpg">
            <h2>{{orderItem.name}}</h2>
            <p>{{orderItem.netPrice}}</p>
        </div>
    </div>

    <!--<ion-item ng-click="appCtrl.login()">-->
    <!--<ion-item>-->
        <!--Order-->
    <!--</ion-item>-->
    <div class="item">
         <!--ng-show="orderController.orderItems.length > 0">-->
        <button class="button button-block button-balanced"
                ng-click="orderController.showZone()">
            Order
        </button>

        <button class="button button-block button-assertive"
                ng-click="orderController.clearOrder()">
            Clear
        </button>
    </div>

    <!--<div class="item">-->
    <!--</div>-->
</div>