<ion-view view-title="Playlists">
  <ion-content>
    <!--<ion-list>-->
      <ion-item ng-repeat="playlist in playlists" ng-href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    <!--</ion-list>-->
  </ion-content>
</ion-view>
