<ion-view view-title="Playlist">

    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-cart-outline" menu-toggle="right">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <h1>Playlist</h1>
    </ion-content>
</ion-view>
