<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">
            Confirm Order
        </h1>

        <div class="buttons">
            <button class="button button-clear"
                    ng-click="orderController.closeZone()">
                Close
            </button>
        </div>
    </ion-header-bar>

    <ion-content>
        <form ng-submit="orderController.doOrder()">
            <div class="list list-inset padding">
                <div class="item item-divider">
                    Select Table
                </div>
                <ion-radio ng-repeat="zone in orderController.availableZones"
                           ng-value="zone.zoneId"
                           ng-model="orderController.selectedZone.zoneId">
                    {{zone.name}}
                </ion-radio>

                <button class="button button-block button-positive"
                        type="submit">
                    Confirm
                </button>
            </div>
        </form>
    </ion-content>q
</ion-modal-view>
